* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: #33415c;
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2vmin;
  width: 80vmin;
  height: 70vmin;
}
.boxes {
  width: 20vmin;
  height: 20vmin;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  color: black;
  font-size: 5rem;
}

#msg {
  display: inline-block;
  padding: 1rem;
  font-size: 2rem;
  background-color: #fff;
  color: black;
  border-radius: 1rem;
}

#reset-btn ,#one-player {
  margin-top: 1rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.4rem;
  background-color: #fff;
  color: black;
  border-radius: 0.5rem;
}

button:hover {
  cursor: pointer;
}
